version: "3"

services:
  payment-service:
    build:
      context: .
      args:
        NODE_VERSION: ${NODE_VERSION:-18.16.0}
        NODE_VERSION_SHORT: ${NODE_VERSION_SHORT:-18}
    environment:
      NODE_ENV: ${NODE_ENV:-test}
      DB_HOST: payment-service-pg
      DB_PORT: 5432
      DB_PASSWORD: postgres
      PORT: ${PORT:-3000}
      DISABLE_LOGS: ${DISABLE_LOGS:-false}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    depends_on:
      - payment-service-pg

  payment-service-pg:
    image: postgres:13.8
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - payment-service-data:/var/lib/postgresql/data

  test-runner:
    build:
      context: .
      dockerfile: tests/Dockerfile.integration
      args:
        NODE_VERSION: ${NODE_VERSION:-18.16.0}
    environment:
      DB_HOST: payment-service-pg
      DB_PASSWORD: postgres
      DB_PORT: 5432
      PORT: ${PORT:-1235}
      NODE_ENV: ${NODE_ENV:-test}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY:-test}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET:-test}
    depends_on:
      - payment-service-pg

volumes:
  payment-service-data:
